---
import "../styles/global.css";
import ImageSlider from "../components/ImageSlider.astro";
import AddImageForm from "../components/AddImageForm.astro";
---

<script>
	import "../components/SliderImage";
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="m-0 bg-white dark:bg-black text-black dark:text-white">
		<ImageSlider />
		<AddImageForm />
	</body>
</html>
